apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: yellowbooks
  labels:
    app: backend
    tier: api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
        tier: api
    spec:
      containers:
      - name: backend
        image: 290817091060.dkr.ecr.us-east-1.amazonaws.com/uploadit-backend:latest
        ports:
        - containerPort: 4000
          name: http
        env:
        - name: NODE_ENV
          valueFrom:
            configMapKeyRef:
              name: yellowbooks-config
              key: NODE_ENV
        - name: PORT
          valueFrom:
            configMapKeyRef:
              name: yellowbooks-config
              key: PORT
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              name: yellowbooks-secrets
              key: DATABASE_URL
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /api
            port: 4000
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /api
            port: 4000
          initialDelaySeconds: 5
          periodSeconds: 5
