apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: yellowbooks
  labels:
    app: frontend
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
  - port: 80
    targetPort: 3000
    nodePort: 31003
    protocol: TCP
    name: http
